pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Test1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "log",
					"value": {
						"value": "@concat('{\"startTime\":\"',utcNow(),'\",\"endTime\":\"',utcNow(),'\",\"processId\":\"', activity('Copy data1').ActivityRunId,'\",\"processName\":\"Copy Data\",\"status\":\"',activity('Copy data1').Status,'\",\"errorMessage\":\"',activity('Copy data1').Error?.message,'\"}')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure3",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogPipelineExecution]",
					"storedProcedureParameters": {
						"End_Time": {
							"value": {
								"value": "@json(variables('log')).endTime",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Message": {
							"value": {
								"value": "@json(variables('log')).errorMessage",
								"type": "Expression"
							},
							"type": "String"
						},
						"Process_Id": {
							"value": {
								"value": "@json(variables('log')).processId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Process_Name": {
							"value": {
								"value": "@json(variables('log')).processName",
								"type": "Expression"
							},
							"type": "String"
						},
						"Start_Time": {
							"value": {
								"value": "@json(variables('log')).startTime",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Status": {
							"value": {
								"value": "@json(variables('log')).status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqlconnector",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kk_insights@outlook.com/Case study/error_simulation"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "log",
					"value": {
						"value": "@concat('{\"startTime\":\"',utcNow(),'\",\"endTime\":\"',utcNow(),'\",\"processId\":\"',activity('Notebook1').ActivityRunId,'\",\"processName\":\"Notebook1\",\"status\":\"',activity('Notebook1').Status,'\",\"errorMessage\":\"', activity('Notebook1').output?.runError,'\"}')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogPipelineExecution]",
					"storedProcedureParameters": {
						"End_Time": {
							"value": {
								"value": "@json(variables('log')).endTime",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Message": {
							"value": {
								"value": "@json(variables('log')).errorMessage",
								"type": "Expression"
							},
							"type": "String"
						},
						"Process_Id": {
							"value": {
								"value": "@json(variables('log')).processId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Process_Name": {
							"value": {
								"value": "@json(variables('log')).processName",
								"type": "Expression"
							},
							"type": "String"
						},
						"Start_Time": {
							"value": {
								"value": "@json(variables('log')).startTime",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Status": {
							"value": {
								"value": "@json(variables('log')).status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqlconnector",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "archieve_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "archive_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Archive",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "log",
					"value": {
						"value": "@concat('{\"startTime\":\"',utcNow(),'\",\"endTime\":\"',utcNow(),'\",\"processId\":\"', activity('Archive').ActivityRunId,'\",\"processName\":\"Archive\",\"status\":\"',activity('Archive').Status,'\",\"errorMessage\":\"',activity('Archive').Error?.message,'\"}')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure4",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogPipelineExecution]",
					"storedProcedureParameters": {
						"End_Time": {
							"value": {
								"value": "@json(variables('log')).endTime",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Message": {
							"value": {
								"value": "@json(variables('log')).errorMessage",
								"type": "Expression"
							},
							"type": "String"
						},
						"Process_Id": {
							"value": {
								"value": "@json(variables('log')).processId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Process_Name": {
							"value": {
								"value": "@json(variables('log')).processName",
								"type": "Expression"
							},
							"type": "String"
						},
						"Start_Time": {
							"value": {
								"value": "@json(variables('log')).startTime",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Status": {
							"value": {
								"value": "@json(variables('log')).status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqlconnector",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Archive",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Notebook2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "archieve_source",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureDataLakeStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "swiggydataset/Delete_Log"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Notebook2",
				"type": "DatabricksNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kk_insights@outlook.com/Case study/error_simulation"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Notebook2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "log",
					"value": {
						"value": "@concat('{\"startTime\":\"',utcNow(),'\",\"endTime\":\"',utcNow(),'\",\"processId\":\"',activity('Notebook2').ActivityRunId,'\",\"processName\":\"Notebook2\",\"status\":\"',activity('Notebook2').Status,'\",\"errorMessage\":\"', activity('Notebook2').output?.runError,'\"}')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogPipelineExecution]",
					"storedProcedureParameters": {
						"End_Time": {
							"value": {
								"value": "@json(variables('log')).endTime",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Message": {
							"value": {
								"value": "@json(variables('log')).errorMessage",
								"type": "Expression"
							},
							"type": "String"
						},
						"Process_Id": {
							"value": {
								"value": "@json(variables('log')).processId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Process_Name": {
							"value": {
								"value": "@json(variables('log')).processName",
								"type": "Expression"
							},
							"type": "String"
						},
						"Start_Time": {
							"value": {
								"value": "@json(variables('log')).startTime",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Status": {
							"value": {
								"value": "@json(variables('log')).status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqlconnector",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"activityNames": {
				"type": "Array"
			},
			"log": {
				"type": "String"
			},
			"test": {
				"type": "String"
			},
			"out": {
				"type": "String"
			}
		},
		"annotations": []
	}
}